/*
 * This stylesheet is always loaded before any theme-specific stylesheet.
 */

.table-row-cell > .table-cell:disabled {
    -fx-opacity: 0.4;
}

.no-focus-scroll-pane {
    /* Disable focus border in main scroll pane by making the background invisible */
    -fx-background-color: rgba(0, 0, 0, 0);
}

.person-details > * {
    -fx-padding: 4px;
}

.person-details .person-details-header .person-details-title {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.person-details .person-details-header .person-details-occupation {
    -fx-font-style: italic;
}

.person-details .life-events-list-item, .clickable-image {
    -fx-cursor: hand;
}

.person-details .life-events-list-item-header > Label {
    -fx-font-weight: bold;
}

.unknown {
    -fx-font-style: italic;
}

.birth-day {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.map-pin {
    -fx-cursor: hand;
}
