/* Make background of title panes opaque for better integration in list views */
.titled-pane {
    -fx-background: -fx-base;
}

/* Custom components */
.person-widget {
    -fx-padding: 0.5em;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: derive(-fx-base, -10%);
    -fx-border-color: derive(-fx-base, -20%);
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.person-widget:hover {
    -fx-background-color: derive(-fx-base, -15%);
    -fx-border-color: derive(-fx-base, -25%);
}

.person-widget:selected {
    -fx-border-color: derive(-fx-base, -50%);
}

.person-widget.add-parent {
    -fx-background-color: derive(-fx-base, -5%);
}

.person-widget.add-parent:hover {
    -fx-background-color: derive(-fx-base, -10%);
}

.person-widget .person-data {
    -fx-padding: 0 0 0 0.5em;
}

.tree-cell:search-match {
    -fx-background: #ffcc80;
}

.tree-line {
    -fx-stroke: derive(-fx-base, -20%);
}

*:invalid {
    -fx-border-color: red;
}
